---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}
<div id="gitment_container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'wadrn',
    repo: 'wadrn.github.io',
    oauth: {
        client_id: 'c94d97ad9177eba10783',
        client_secret: 'f1da50c5ea205148bbbc079eb8171aa1a909eed2',
    },
});
gitment.render('gitment_container');
</script>